* {
	padding: 0;
	margin: 0;
}

body {
	overflow-x: hidden;
}

.desktop {
	overflow: scroll !important;
}

#header {
	width: 100%;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
}

#site {
	padding: 0 12%;
}

img,
video {
	display: block;
}

.video {
	width: 100%;

	video {
		width: 100%;
		height: auto;
		background-color: white;
	}
}

.static {
	width: 100%;
	margin: 0;
	padding: 0;

	img {
		width: 100%;
		height: auto;
	}
}

.scroll::-webkit-scrollbar {
	display: none;
}

.scroll {
	overflow-x: scroll;
	display: flex;
	gap: 1rem;
	padding: 0 1.5rem;
	align-items: stretch;

	img {
		width: 80%;
		height: auto;
	}
}

#carousel1 {
	background: #a50404;
}

#carousel2 {
	background: #f20000;
	padding-bottom: 2rem;
}

.static,
.scroll {
	line-height: 0;
	margin-bottom: -1px;
}
